/*
 * Clerk Frontend API
 *
 * The Clerk REST Frontend API, meant to be accessed from a browser or native environment.  This is a Form Based API and all the data must be sent and formatted according to the `application/x-www-form-urlencoded` content type.  ### Versions  When the API changes in a way that isn't compatible with older versions, a new version is released. Each version is identified by its release date, e.g. `2021-02-05`. For more information, please see [Clerk API Versions](https://clerk.com/docs/backend-requests/versioning/overview).  ### Using the Try It Console  The `Try It` feature of the docs only works for **Development Instances** when using the `DevBrowser` security scheme. To use it, first generate a dev instance token from the `/v1/dev_browser` endpoint.  Please see https://clerk.com/docs for more information.
 *
 * The version of the OpenAPI document: v1
 * Contact: support@clerk.com
 * Generated by: https://openapi-generator.tech
 */

use super::{configuration, Error};
use crate::{apis::ResponseContent, models};
use reqwest;
use serde::{Deserialize, Serialize};

/// struct for typed errors of method [`create_dev_browser`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum CreateDevBrowserError {
    Status400(),
    UnknownValue(serde_json::Value),
}

/* Example dev_browser response
{
    "id":"dvb_2wBEszr0o5v3XbETMqF0Ykerrf3",
    "instance_id":"ins_2gXOIJSz5hpsl5tA0NMptraBFJk",
    "token":"ey...",
    "client_id":null,
    "created_at":"2025-04-24T14:59:37.240941608Z",
    "updated_at":"2025-04-24T14:59:37.240941608Z",
    "home_origin":null
}
*/
#[derive(Clone, Default, Debug, PartialEq, Serialize, Deserialize)]
pub struct DevBrowser {
    pub id: String,
    pub instance_id: String,
    pub token: String,
    pub client_id: Option<String>,
    pub created_at: String,
    pub updated_at: String,
    pub home_origin: Option<String>,
}

/// Generate an Dev Browser API token.  This is used to authenticate Development Instances with the `DevBrowser` scheme. It must be set before making any request to a dev instance, even for endpoints that are public.
pub async fn create_dev_browser(
    configuration: &configuration::Configuration,
) -> Result<DevBrowser, Error<CreateDevBrowserError>> {
    let local_var_configuration = configuration;

    let local_var_client = &local_var_configuration.client;
    let local_var_uri_str = format!("{}/v1/dev_browser", local_var_configuration.base_path);

    let local_var_resp = local_var_client.post(local_var_uri_str).send().await?;
    let local_var_status = local_var_resp.status();
    let local_var_content = local_var_resp.text().await?;

    if !local_var_status.is_client_error() && !local_var_status.is_server_error() {
        serde_json::from_str(&local_var_content).map_err(Error::from)
    } else {
        let local_var_entity: Option<CreateDevBrowserError> =
            serde_json::from_str(&local_var_content).ok();
        let local_var_error = ResponseContent {
            status: local_var_status,
            content: local_var_content,
            entity: local_var_entity,
        };
        Err(Error::ResponseError(local_var_error))
    }
}
